@use "../globals.scss";

@mixin container($width: 50%) {
    background-color: globals.$prime-bg;
    padding: 1rem 2rem;
    border-radius: 25px;
    color: globals.$secondary-text-50;
    font-weight: 900;
    font-size: x-large;
    position: relative;
    width: $width;
}

.container {
    @include container();
}

.container_35 {
    @include container($width: 35%);
}

.katana_img_top {
    position: absolute;
    top: -8rem;
    left: -6rem;
    transform: rotate(160deg) scale(1, -1);
    pointer-events: none;
}
