* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

$prime-bg: #101010;
$prime-text: #3a065d;
$prime-text-light: #6809ae;
$secondary-text: #3b3b3b;
$secondary-text-50: #262626;
