@use "../globals.scss";

.container {
    display: flex;
    padding: 2rem 0rem 4rem 0rem;
}

.avatar {
    position: relative;
    margin-left: 1.2rem;
}

%corner {
    position: absolute;
}

.corner_right_top {
    @extend %corner;
    top: -1rem;
    right: -1rem;
}

.corner_left_top {
    @extend %corner;
    top: -1rem;
    left: -1rem;
    transform: rotate(-90deg);
}

.corner_left_bottom {
    @extend %corner;
    bottom: -1rem;
    left: -1rem;
    transform: rotate(180deg);
}

.corner_right_bottom {
    @extend %corner;
    bottom: -1rem;
    right: -1rem;
    transform: rotate(90deg);
}

.info_container {
    margin-left: 2rem;

    p {
        margin-top: 1rem;
    }

    span {
        font-weight: 600;
        margin-left: 0.5rem;
        $bg-size: 400%;

        background: linear-gradient(
                90deg,
                globals.$prime-text-light,
                globals.$prime-text,
                globals.$prime-text-light
            )
            0 0 / ($bg-size 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        animation: move-bg 15s infinite linear;

        @media (prefers-reduced-motion: no-preference) {
            & {
                animation: move-bg 15s linear infinite;
            }
            @keyframes move-bg {
                to {
                    background-position: $bg-size 0;
                }
            }
        }
    }
}
