@use "../globals.scss";

.main {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
}

.footer {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}
