@use "../globals.scss";

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
}

.footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}
