@use "../globals.scss";

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: globals.$prime-text-light;

    & h3 {
        color: globals.$prime-text;
    }
}

.weather_image {
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.footer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.data_container {
    display: flex;
    align-items: center;
    & > img {
        margin: 0 0.3rem;
    }
}
